%bonus-container {
  height: 50vh;
  width: 50%;
  background-color: #ffb703 ;
}

.bonus-container-cert {
  background-color: #D6D6D6;
  @extend %bonus-container
}

.bonus-container-cert__div {
  width: 75%;
  height: 50%;
}

.bonus-container-more {
  background-color: #ffd100;
  @extend %bonus-container
}

.bonus-container__title {
  border-bottom: 2px solid black;
}

.bonus-container__links {
  text-decoration: none;
  color: black;
  padding: 3vh;
  &:hover{
    color: lightskyblue;
  }
}

@media (max-width: 900px){
  .bonus-container {
    flex-direction: column;
  }
  %bonus-container {
    width: 100%;
    height: 50vh;
  }

  .bonus-container-cert__div {
    width: 100%;
    height: 100%;
  }
}
