.works-container {
  height: 100vh;
  background-color: #ffb703 ;
}

.works-container__title {
  border-bottom: 2px solid black;
}

.works-container__text {
  font-size: 3.5vh;
}

.works-proyects-container {
  height: 80vh;
  width: 90vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.works-proyects-container__slider-image {
  width: 80%;
  height: 60vh;
}

.works-proyects-container__slider {
  min-width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%btn-styles {
  height: 80vh;
  width: 5%;
  position: absolute;
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.5s;
   &:hover {
     background: rgba(0, 0, 0, 0.356);
   }
}

.works-slider__goLeft {
  left: 0;
  @extend %btn-styles;
}

.works-slider__goRight {
  right: 0;
  @extend %btn-styles;
}

.works-proyects-container__button-image {
  width: 4vw;
}

.works-proyects-container__button-left {
  width: 4vw;
  transform: rotate(180deg);
}