.works-container {
  height: 100vh;
  background-color: #ffb703 ;
}

.works-container__title {
  border-bottom: 2px solid black;
}

.works-container__text {
  font-size: 3.5vh;
}

.works-proyects-container {
  height: 80vh;
  width: 90vw;
  background-color: #D6D6D6 ;
}