.container__header {
  height: 5vh;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}

.container__menu {
  min-width: 35vw;
}

.container__menu span {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 0 5px;
  position: relative;
  cursor: pointer;

  &:hover {
    color: white;
    transition: all 0.3s ease-out;
    }
  
  &:hover:after {
    width: 100%;
  }
    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      background-color: white;
      content: '';
      display: block;
      height: 1px;
      transform: translate(-50%, -50%);
      transition: width 0.3s ease-out;
      width: 0;
      text-decoration: inherit;
      box-sizing: inherit;
      background-repeat: inherit;
    }
}