.container__header {
  height: 5vh;
  z-index: 1;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}

.container__logo-a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color:  #444;
    }
}

.container__menu {
  width: 75vw;
  min-width: 35vw;
}

.container__menu a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 0 5px;
  position: relative;
  cursor: pointer;

  &:hover {
    color:  #444;
    transition: all 0.3s ease-out;
    }
  
  &:hover:after {
    width: 100%;
  }
    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      background-color:  #444;
      content: '';
      display: block;
      height: 1px;
      transform: translate(-50%, -50%);
      transition: width 0.3s ease-out;
      width: 0;
      text-decoration: inherit;
      box-sizing: inherit;
      background-repeat: inherit;
    }
}

.header-responsive-burger {
  display: none;
}

.header-responsive-img {
  width: 5vh;
  height: 5vh;
}

.container__header-responsive {
  position: absolute;
  top: 5vh;
  right: -75vh;
  background-color: rgba(255, 255, 255, 0.6);
}

.container__header-responsive-show {
  height: 100vh;
  width: 30vh;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateX(-75vh);
  transition: transform 0.5s ease-in-out;
}

.container__header-responsive-show a {
  font-size: xx-large;
  text-decoration: none;
  color: #444;
  padding: 5vh;

  &:hover {
    color: #444;
    background-color: #ffd100;
    border: 2px solid #444;
  }
}

@media (max-width: 710px) {
  .container__menu {
    display:none
  }

  .container__logo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3vh;
  }

  .header-responsive-burger {
    cursor: pointer;
    display: flex;
    top: 0;
    right: 0;
    position: absolute;
  }
}

@media (max-width:1020px){
  .container__menu {
    width: 100vw;
  }
}

@media (max-width:900px){
  .container__menu {
    width: 160vw!important;
  }
}

@media (max-width: 550px) {
  .container__logo {
    padding: 0 25px;
  }
}
