.contact-container {
  height: 60vh;
  background-color: #202020 ;
}

.contact-container__info-icon {
  width: 2vw;
  cursor: help;
}

.contact-container__info .contact-container__tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 2vw;
}

.contact-container__info:hover .contact-container__tooltip {
  visibility: visible;
}

.contact-container input  {
  border: none;
  border-bottom: solid 1vh #ffb703;
  margin: 1vh;
  width: 50vw;
  background-color: #444;
  color: #ffffff;
  &:focus {
    border: 2px solid #202020 ;
  }
}

.contact-container textarea  {
  border: none;
  border-bottom: solid 1vh #ffb703;
  margin: 1vh;
  resize: none;
  width: 50vw;
  height: 10vh;
  background-color: #444;
  color: #ffffff;
}

.contact-container__form {
  background-color: #D6D6D6;
  padding: 1vh;
}

.contact-container__form-group {
  font-size: 1.5vw;
}

.contact-container__button {
  font-size: 2.5vh;
  color: #000;
  background-color: #ffb703;
  border-color: #ffb703;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius:0.5vh;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #fb9900;
    border-color: #fb9900;
  }
}

.hidden-message {
  display: none;
}

.hidden-message-show {
  display: flex;
}

@media (max-width: 900px) {
  .contact-container input {
    height: 4vh;
  }

  .contact-container__info-icon {
    width: 4vw;
  }

}